.breadcrumbs {
  display: flex;
  align-items: center;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
}

.breadcrumb-arrow {
  margin: 0 12px;
}

.breadcrumb-title {
  color: #9099a3;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.breadcrumb-title:hover {
  color: white;
  cursor: pointer;
}

.last-item {
  color: white;
}
